*,
::after,
::before {
  box-sizing: inherit;
}

#footer {
  padding-top: 40px;
  padding-bottom: 50px;
  clear: both;
  float: left;
  width: 100%;
  border-top: 2px solid #dddddd;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
}

.columnfooter {
  align-self: flex-end;
}

.contenedor {
  max-width: 1110px;
  margin: 0px auto;
}
