<div class="container mt-5">
  <div class="row">

    <div class="col-md-12 col-lg-4">

      <p class="text-verde-oscuro h4">
        <strong>
          Access to a big compilation about your favorite artist and titles at once.
        </strong>
      </p>

      <div class="my-4">
        <button class="btn btn-info col" [routerLink]="['/album']">Album library</button>
      </div>

      <div class="my-4">
        <button class="btn btn-info col" [routerLink]="['/artist']">Artist library</button>
      </div>

    </div>

    <div class="col-md-12 col-lg-8">
      <img class="img-fluid mt-3 imagen-portada" alt="Responsive image" src="assets/images/discoImage.jpg">
    </div>

  </div>
</div>
